# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Testing
**/coverage

# Production / Builds
**/dist/
**/build/
**/.next/
**/out/

# Environment Variables & Secrets
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/db.sqlite
**/db.sqlite-journal

# Editor / OS files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Scratch files
scratch/
